body {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#logo {
    width: 90px;
    margin-left: 0px;
}

#tituloBanner {
    padding-left: 10px;
}

#marca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

#banner {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 1px black;
}

#itemBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 100px;
    font-size: 20px;
}

#corpoCards {
    background-color: white;
    width: 100%;
    height: 100%;
}

.invisibleButton {
    border: none;
    height: 400px;
    width: 300px;
    background-color: white;
    margin: 40px;
}

#cardline {
    width: 1800px;
    height: 800px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;

}

.blogCard {
    height: 420px;
    width: 300px;
    flex-direction: column;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;

}

.img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    display: flex;
    height: 200px;
    width: 300px;
    align-items: center;
    border-radius: 10px 010px 00px 00px
}

.titulo {
    margin: 0px;
    margin-left: 4px;
    display: flex;
    align-items: normal;
    justify-content: left;
    width: 290px;
    height: 30px;
    background-color: white;
    color: black;
    text-shadow: 1px 1px 3px darkgray;
    font-size: 20px;
}

.categoria {
    margin: 4px;
    display: flex;
    align-items: normal;
    justify-content: left;
    font-size: 12px;
}

.infoCards {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    margin: 4px;

}

.descricao {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.562);
}

#corpoPost {
    width: 100%;
    height: 700px;
}

#paginaPost {
    display: flex;
    margin: auto;
    height: 700px;
    width: 1400px;
}

#botaoFinal {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blue;
    color: white;
}

.info {
    margin: 0px;
    font-size: 20px;
    display: flex;
    padding: 0px;
}

#conteudoPosts {
    height: 700px;
    width: 95%;
    padding: 10px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    padding: 4px;
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    margin: auto;
    bottom: 0;
}

#footer p {
    color: white;
    margin: 10px;
}

#footer a {
    color: blue;
}


@media(width > 1800px) {
    #cardline {
        width: 1600px;
    }

    #paginaPost {
        width: 1100px;
    }
}
@media(width < 1500px) {
    #cardline {
        width: 1200px
    }

    #paginaPost {
        width: 1100px;
    }
}

@media(width < 1100px) {
    #marca{
        position: relative;
        justify-content: left;
        align-items: center;
        left:1%;
    }
    #banner {
        width: 100%;
        height: 60px;
    }

    #itemBox {
        width: 400px;
        height: 100px;
        font-size: 12px;
    }

    #logo {
        width: 50px;
    }

    #tituloBanner {
        font-size: 20px;
    }

    #cardline {
        width: 800px;
        height: 1100px;
    }

    #paginaPost {
        height: 900px;
        width: 900px;
    }

    #footer {
        height: 25px;
        padding: 2px;
        font-size: 14px;
        width: 100%;
    }
}

@media(width < 900px) {
    #marca {
        position: relative;
        justify-content: left;
        align-items: center;
        left:1%;
    }

    #banner {
        width: 100%;
        height: 60px;
    }

    #itemBox {
        width: 400px;
        height: 100px;
        font-size: 12px;
    }

    #logo {
        margin-right: 5px;
        width: 50px;
    }

    #banner {
        justify-content: center;
        align-items: center;
        
    }

    #cardline {
        width: 400px;

    }

    #pagina {
        height: 1200px;
        width: 300px;
    }

    #footer {
        display: flex;
        flex-direction: row;
        height: 35px;
        padding: 2px;
        font-size: 12px;
        width: 100%;
    }

    .pages {
        display: none;
    }
}